<%= form_for @weight do |f| %>
	<%= render 'shared/weight_error_messages', :object => f.object %>
	<div class="field">
    <%= f.label "Today's weight" %><br />
    <%= f.text_field :weight %>
  </div>
<% end %>